# navidrome settings
ND_PORT=4533
ND_USER=pacimoun
ND_PASS=your_secure_password
ND_SALT=your_secure_salt

SYNC_SCHEDULE="0 7 * * *"

# soundcloud integration
SOUNDCLOUD_URL="https://soundcloud.com/..."